{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}


{% block main %}

    <div class="create-box">
      <h2>Create</h2>
      <form action="/create" method="post" class="link">
        <div class="user-box">
          <input autocomplete="off" autofocus class="form-control" name="link" placeholder="Enter URL" type="text">
          <label>URL</label>
        </div>
        <div class="user-box">
          <input autocomplete="off" class="form-control" name="codename" placeholder="Desired QR name" type="text">
          <label>Desired Name</label>
        </div>
        <button>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Create QR Code
        </button>
      </form>
    </div>


{% endblock %}