{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}


{% block main %}
<style>
body {
    background-image: url(https://images.unsplash.com/photo-1488554378835-f7acf46e6c98?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80);
}
body main {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
</style>


<section>
  <div class="background-img">
    <div class="box">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div class="content">
        <h2>Welcome to QR King</h2>
        <p><a style="color:#00ffe9;" target="_blank">
          Create QR Codes instantly. Free of charge. No expiry.
        </a></p>
      </div>

    </div>
  </div>
</section>

{% endblock %}